html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
p{
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.801);
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #6D6D6D;
}

#main-header{
    background-image: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 13.8em;
    padding-bottom: 12em;
    padding-right: 14.7em;
    padding-left: 14.7em;
    background-position: center;
}
#main-navbar{
    list-style: none;
    text-align: right;
}
#main-navbar li{
    display: inline;
}
#main-navbar li:first-child{
    float: left;
    font-size: 17.5px;
}
#main-navbar a{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    padding:15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.5s;
}
#main-navbar a:hover{
    background-color: #cfd8dc18;
}
#bluetag{
    font-family: 'Roboto', sans-serif;
    background-color: #2196F3;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
    padding: 4px 14px;
    border-radius: 12px;
}
#bluetag:hover{
    background-color: #2195f3e0;
}

.name-container{
    color: #fff;
    margin-left: 115px;
    position: absolute;
    top: 45px;
    width: 62.2%;
}
.header-container{
    text-align: left;
    color: #fff;
    font-size: 24px;
    margin-left: 120px;
    margin-bottom: 2px;
}
.intro-container{
    margin: 1.6% 19.5%;
    font-family: 'Roboto', sans-serif;
}
.intro-container a{
    color: black;
}
.container-1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0% 19.5% 2% 19.5%;
}
.container-box{
    width: 30%;
}
.container-box img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 15px -6px;
}
.container-box-sub h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.container-box p{
    font-size: 14px;
    padding-right: 20px;
    color:  #6D6D6D;
}
.container-box-sub{
    display: inline-block;
    margin-left: 20px;
    line-height: 40px;
}
.contact{
    margin: 0% 19.5%;
}
.contact a{
    color: black;
}
.contact-container-1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
}
.contact-container-2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.contact-container-box{
    width: 30%;
}
.contact-container-box a{
    color: #6D6D6D;
}
.contact-container-box-sub{
    display: inline-block;
    position: relative;
    top: -45px;
    left: 40px;
    line-height: 25px;
}
.contact-container-box-sub p{
    color: #6D6D6D;
    font-size: 14px;
} 
.main-footer h3{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    background-color: #F5F5F5;
    padding: 19px;
}
